<head>
  <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>

  <h1> <%= @game.return_player(1).name %> vs. <%= @game.return_player(2).name %> </h1>
  <h2> HP:  <%= @game.return_player(1).hit_points%>  vs. HP: <%= @game.return_player(2).hit_points %> </h2>
  <br>
  <h1> It's <%= @game.current_player.name %>'s Turn!!</h1>
  <br>
  <form action="/attack_player" method="post">
    <input type=hidden name=reduce_HP value=10>
    <input type="submit" value="Attack">
  </form>
  <br>
  <br>

  <!-- Battletune player -->
  <audio loop src="media/battle_tune.mp3"></audio>
  <script src="media/audio.js"></script>
  <!-- Battletune player -->

</body>
